{% extends "base.html" %}

{% block content %}
  <h1><a style="float: right" href="{% url 'taxi:car-create' %}">ADD NEW</a>Car list</h1>
  {% if car_list %}
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th scope="col">ID</th>
          <th scope="col">MODEL</th>
          <th>Manufacture</th>
          <th scope="col">UPDATE</th>
          <th scope="col">DELETE</th>
        </tr>
      </thead>
      <tbody>
      {% for car in car_list %}
        <tr>
          <td><a href="{% url 'taxi:car-detail' pk=car.id %}">{{ car.id }}</a></td>
          <td>{{ car.model }}</td>
          <td>{{ car.manufacturer.name }}</td>
          <td><a href="{% url 'taxi:car-update' pk=car.id %}">UPDATE</a></td>
          <td><a href="{% url 'taxi:car-delete' pk=car.id %}">DELETE</a></td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  {% else %}
    <p>There are no cars in taxi</p>
  {% endif %}
{% endblock %}

